html {
    width: 230px;
    height: 250px;
}

img {
    max-width: 75%;
    max-height: 75%;
    object-fit: contain;
    vertical-align: middle;
}

#homeHover, #optionsHover {
   max-width: 40%;
    max-height: 40%;
    position: absolute;
    bottom: -10px;
}

.footerButtonHover {
    cursor: grab;
}

body {
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
}

.header {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 23px;
    padding-left: 3.5px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#plus {
    font-size: 17px;
}

button {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 13px;

    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid #babfc3;
    padding: 3px 3px;
    color: #202223;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}

button:hover {
    background: #f6f6f7;
    outline: 1px solid transparent;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 160px;
    overflow-wrap: break-word;
    overflow-y: auto;
}

.container {
    display: block;
    overflow: hidden;
}

.editButton {
    float: right;
    visibility: hidden;
    font-family: 'Raleway', sans-serif; font-weight: 500;
    font-size: 12px;
}

.entryBox {
    font-size: medium;
    border-radius: 5px;
    padding: 5px;
    height: 20px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
    background-color: #CDB0EE;
    margin-bottom: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: none;
}

.entryBox:hover, #wordAdder:hover {
    background-color: #E9CBFF
}

.entryBox:hover > button {
    visibility: visible;
}

.entryBoxEditMode {
    font-size: medium;
    border-radius: 5px;
    padding: 5px;
    height: 20px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
    background-color: #ff9a8e;
    margin-bottom: 3px;
}

.entryBoxEditMode:hover {
    font-size: medium;
    border-radius: 5px;
    padding: 5px;
    height: 20px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
    background-color: #ffcdc8;
    margin-bottom: 3px;
}

.entryBox:hover > button {
    visibility: visible;
}

#wordAdder {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
}

nav {
    display: flex;
    flex-direction: row;
    height: 39px;
}

.navDiv {
    flex: 1;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#refresh {
    float: right;
}

#optionsDiv {
    height: 199px;
    margin-bottom: 20px;
}