html {
    width: 230px;
    height: 250px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 23px;
    padding-left: 3.5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

button {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 13px;

    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid #babfc3;
    padding: 3px 3px;
    color: #202223;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}

button:hover {
    background: #f6f6f7;
    outline: 1px solid transparent;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 160px;
    overflow-wrap: break-word;
    overflow-y: auto;
}

.edit {
    float: right;
    visibility: hidden;
    font-family: 'Raleway', sans-serif; font-weight: 500;
    font-size: 12px
}

.entry {
    font-size: medium;
    border-radius: 5px;
    padding: 5px;
    height: 20px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
}

.entry:hover, #wordAdder:hover {
    background-color: #ACCCE6
}

.entry:hover > button {
    visibility: visible;
}

#wordAdder {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
}

nav {
    display: flex;
    flex-direction: row;
}

.navDiv {
    flex: 1;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
}

.navDiv:hover {
    background-color: #ACCCE6;
}