/* ||General Styles|| */
body {
    position: relative;
    width: 300px;
    margin: 0px;
    background-color: #FFFEFA;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}

.top-container {
    /*for top-level containers of page*/
    box-sizing: border-box;
}

.dropdown-arrow {
    /*animation & styling for dropdown arrows
    (language dropdown and entry box dropdown)*/
    border: solid #858585;
    border-width: 0 1px 1px 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

button {
    /*default style on buttons*/
    display: inline-block;
    border: 0px solid #babfc3;
    padding: 3px 3px;
    border-radius: 6px;
    background-color: #F4F4F4;
    color: #858585;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #FEFEFE;
}

/* ||Page Header|| */
#page-header-container {
    margin: 18px 18px;
}
    #page-header {
        position: relative;
        left: 15px;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        font-size: 25px;
    }
    #language-dropdown {
        float: right;
        position: relative;
        top: 8px;
        right: 5px;
    }
    #language-dropdown-button {
        display: flex;
        gap: 4px;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 0.8em;
    }
    #language-dropdown-button .dropdown-arrow{
        padding: 2px;
        position: relative;
        bottom: 2px;
    }

/* ||Tabs (home page only)|| */
#tabs-container {

}


#tab-header-container {

}

/* ||Home Main (home page only)|| */

/* ||Dropdown (home page only|| */

/* ||Options Main (options page only)||*/

/* ||Nav Bar|| */

img {
    max-width: 75%;
    max-height: 75%;
    object-fit: contain;
    vertical-align: middle;
}

#homeHover, #optionsHover {
   max-width: 40%;
    max-height: 40%;
    position: absolute;
    bottom: -10px;
}

.footerButtonHover {
    cursor: grab;
}

#plus {
    font-size: 17px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 270px;
    overflow-wrap: break-word;
    overflow-y: auto;
}

.container {
    display: block;
    overflow: hidden;
}

.editButton {
    float: right;
    visibility: hidden;
    font-family: 'Raleway', sans-serif; font-weight: 500;
    font-size: 12px;
}

.entryBox {
    font-size: 17px;
    border-radius: 8px;
    padding: 5px;
    height: 25px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
    background-color: #CDB0EE;
    margin-bottom: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: none;
}

.dropdown .entryBox {
    background-color: initial;
    border: 3px solid #CDB0EE;
    padding-top: 2px;
    padding-bottom: 2px;
}

.entryBox:hover, .adder:hover {
    background-color: #E9CBFF
}

.entryBox:hover > button {
    visibility: visible;
}

.entryBoxEditMode {
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
    background-color: #ff9a8e;
}

.entryBoxEditMode:hover {
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
    background-color: #ffcdc8;
}

.entryBox:hover > button {
    visibility: visible;
}

.dropdown .entryBoxEditMode {
    border: 3px solid #ff9a8e;
    padding-top: 2px;
    padding-bottom: 2px;
}

#wordAdder {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
    position: absolute;
    top: 320px;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    height: 39px;
    position: absolute;
    width: 100%;
    top: 440px;
    overflow: hidden;
}

.navDiv {
    flex: 1;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#refresh {
    float: right;
}

#optionsContainer {
    height: 199px;
    margin-bottom: 20px;
}

.input {
    display: block;
}

.optionBox {
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    height: 25px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
    margin-bottom: 5px;
    flex: none;
}

.url-input:invalid {
    border-color: red;
}

#notesBox {
    white-space: pre;
    border-radius: 5px;
    padding: 5px;
    border: 3px solid #CDB0EE;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 3px;
}