/* ||General Styles|| */
@font-face {
    font-family: "Sulphur Point Bold";
    src: url("./fonts/SulphurPoint-Bold.otf") format("opentype")
}

@font-face {
    font-family: "Sora Regular";
    src: url("./fonts/Sora-Regular.otf") format("opentype")
}

@font-face {
    font-family: "Sora SemiBold";
    src: url("fonts/Sora-SemiBold.otf") format("opentype")
}

@font-face {
    font-family: "Thasadith Regular";
    src: url("fonts/Thasadith Regular 400.ttf") format("truetype")
}

body {
    position: relative;
    width: 300px;
    margin: 0px;
    background-color: #FFFEFA;
    font-family: 'Sora Regular', sans-serif;
}

button {
    /*default style on buttons*/
    display: inline-block;
    border: 0px solid #BABFC3;
    padding: 3px;
    border-radius: 6px;
    background-color: #F4F4F4;
    color: #858585;
    font-family: 'Sora Regular', sans-serif;
    font-size: 8px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #DDDDDD;
}

svg {
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
}



a {
    cursor: pointer;
    pointer-events: all;
}

input {
    border: none;
    border-radius: 9px;
    outline: none;
    font-family: 'Sora Regular', sans-serif;
    background-repeat: no-repeat;
}

input::placeholder {
    color: #858585;
}

.header {
    color: black;
}


/* ||Page Header|| */
#page-header-container {
    margin: 18px;
}

#page-header {
    position: relative;
    left: 18px;
    font-size: 1.95em;
    font-family: 'Sulphur Point Bold', sans-serif;
}

#language-dropdown {
    float: right;
    position: relative;
    top: 5px;
    right: 5px;
}

#language-dropdown-button {
    float: right;
    position: relative;
    top: 8px;
    right: 5px;
    display: flex;
    gap: 0.1px;
    padding: 1.5px 4px 1.5px 1px;
}

#language-dropdown-arrow {
    padding: 2px;
    position: relative;
    top: 1.5px;
}

/* ||Tabs (home page only)|| */
#tabs-container {
    margin-bottom: 20px;
    overflow: hidden;
    max-height: 55px;
}

#recents-tab {
    position: relative;
    left: 2.5em;
    z-index: 10;
}

.recents-active {
    fill: #C1E6AE;
}

.recents-inactive {
    fill: #D5EFC8;
}

#view-all-tab {
    position: relative;
    left: 0.4em;
    z-index: 5;
}

.view-all-active {
    fill: #B1B1F9;
}

.view-all-inactive {
    fill: #D4CBF7;
}

#starred-tab {
    position: relative;
    right: 1.7em;
    z-index: 1;
}

.starred-active {
    fill: #FBD651;
}

.starred-inactive {
    fill: #FBEAAC;
}

#tab-bar {
    position: relative;
    bottom: 2.82em;
    fill: black;
}

#tab-header {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 1.8em;
    font-family: 'Sora SemiBold', sans-serif;
    font-size: 1.22em;
    font-weight: 500;
}

/* ||Home Main (home page only)|| */
#search-container {
    position: relative;
    bottom: 1.7em;
    display: flex;
    justify-content: center;
}

#search-label {
    width: 86.667%;
}

#search-input {
    max-width: 90%;
    width: 100%;
    padding: 5px 0px 5px 28px;
    background-color: #F4F4F4;
    background-image: url("images/magnifying-icon.svg");
    background-position: 8px 6px;
    color: #858585;
    font-size: 1em;
}

#sort-by-dropdown-container {
    position: relative;
    bottom: 1.12em;
    width: 86.667%;
    margin-bottom: 1.13em;
}

#sort-by-dropdown {
    float: right;
    position: relative;
    left: 2.6em;
    color: #858585;
    font-size: 8px;
}

#sort-by-dropdown-button {
    padding: 1.5px 4px;
    font-size: 8px;
}

.entry-container {
    font-size: 1.15em;
    border-radius: 8px;
    padding: 5px;
    height: 18px;
    width: 84%;
    font-family: 'Thasadith Regular', sans-serif;
    font-weight: 400;
    background-color: #D9E8F6;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: none;
}

.entry-number {
    display: flex;
    justify-content: center;
    float: left;
    position: relative;
    top: 0.73em;
    right: 1.74em;
    height: 0em;
    width: 0em;
    color: #B4B1B1;
    font-family: "Sora SemiBold";
    font-size: 8px;
    z-index: 20;
}

.entry-dropdown-arrow {
    padding: 0px 8px 0.7px 4px;
}

.entry-star, .entry-checkbox {
    display: none;
}

.entry-star-label {
    float: right;
    position: relative;
    right: 0.2em;
    height: 1.2em;
    width: 1.2em;
    background: transparent url("images/star-checkbox.svg") no-repeat 0em 0.1em;
    cursor: pointer
}

.entry-star:checked + .entry-star-label {
    background-image: url("images/star-checkbox-checked.svg");
}

.entry-star-label:hover {
    /*Change background image of entry star label when hovering
    background-image: url("images/star-checkbox-hover.svg");*/
}

.entry-checkbox-label {
    float: right;
    height: 1.38em;
    width: 1.38em;
    background: transparent url("images/entry-checkbox.svg") no-repeat 0em 0.05em;
    cursor: pointer;
}

.entry-checkbox:checked + .entry-checkbox-label {
    /*Change background image of entry checkbox label when checked
    background-image: url("images/star-checkbox.svg");*/
}


/* ||Dropdown (home page only|| */

/* ||Options Main (options page only)||*/

/* ||Nav Bar|| */

.navDiv img {
    max-width: 75%;
    max-height: 75%;
    object-fit: contain;
    vertical-align: middle;
}

#homeHover, #optionsHover {
   max-width: 40%;
    max-height: 40%;
    position: absolute;
    bottom: -10px;
}

.footerButtonHover {
    cursor: pointer;
}

#plus {
    font-size: 17px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    height: 230px;
    overflow: hidden;
    overflow-wrap: break-word;
    overflow-y: auto;
}

.editButton {
    visibility: hidden;
    font-family: 'Raleway', sans-serif; font-weight: 500;
    font-size: 12px;
}

.dropdown .entry-container {
    background-color: initial;
    margin-top: 0.1em;
    padding-top: 2px;
    padding-bottom: 2px;
}

.entry-container:hover, .adder:hover {
    background-color: #A5C9EA
}

.entry-container:hover > button {
    visibility: visible;
}

.entryContainerEditMode {
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
    background-color: #ff9a8e;
}

.entry-containerEditMode:hover {
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
    background-color: #ffcdc8;
}

.entry-container:hover > button {
    visibility: visible;
}

.dropdown .entryContainerEditMode {
    border: 3px solid #ff9a8e;
    padding-top: 2px;
    padding-bottom: 2px;
}

#wordAdder {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
}

nav {
    display: flex;
    flex-direction: row;
    height: 39px;
    overflow: hidden;
}

.navDiv {
    flex: 1;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#refresh {
    float: right;
}

#optionsContainer {
    height: 199px;
    margin-bottom: 20px;
}

.optionBox {
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    height: 25px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
    margin-bottom: 5px;
    flex: none;
}

.url-input:invalid {
    border-color: red;
}

#notesBox {
    white-space: pre;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    border: 3px solid #CDB0EE;
    margin-bottom: 3px;
}

.icon {
    height: 85%;
}
.edit-save-icon {
    float: right;
}

.icon-div, .button-div {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    min-width: 0;
}

.text-div {
    display: inline-block;
    flex: 7;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.text-div:focus {
    overflow: visible;
}

.url-box {
    display: flex;
}

.delete-icon {
    position: relative;
    left: 12px;
    height: 75%;
}