/* ||General Styles|| */
body {
    position: relative;
    width: 300px;
    margin: 0px;
    background-color: #FFFEFA;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}

.top-container {
    /*for top-level containers of page*/
    box-sizing: border-box;
}

.dropdown-arrow {
    /*animation & styling for dropdown arrows
    (language dropdown and entry box dropdown)*/
    border: solid #858585;
    border-width: 0 0.8px 0.8px 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

button {
    /*default style on buttons*/
    display: inline-block;
    border: 0px solid #babfc3;
    padding: 3px;
    border-radius: 6px;
    background-color: #F4F4F4;
    color: #858585;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #DDDDDD;
}

svg {
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
}



a {
    cursor: pointer;
    pointer-events: all;
}


/* ||Page Header|| */
#page-header-container {
    margin: 18px;
}

#page-header {
    position: relative;
    left: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 22px;
}

#language-dropdown {
    float: right;
    position: relative;
    top: 5px;
    right: 5px;
}

#language-dropdown-button {
    float: right;
    position: relative;
    top: 8px;
    right: 5px;
    display: flex;
    gap: 2px;
    padding: 1.5px 4px;
    font-size: 0.75em;
}

#language-dropdown-button .dropdown-arrow{
    padding: 2px;
    position: relative;
    top: 1.5px;
}

/* ||Tabs (home page only)|| */
#tabs-container {
    margin-bottom: 20px;
    overflow: hidden;
    max-height: 60px;
}

    #recents-tab {
        position: relative;
        left: 2.5em;
        z-index: 10;
    }

    .recents-active {
        fill: #C1E6AE;
    }
    .recents-inactive {
        fill: #D5EFC8;
    }

    #view-all-tab {
        position: relative;
        left: 0.4em;
        z-index: 5;
    }
        .view-all-active {
            fill: #B1B1F9;
        }
        .view-all-inactive {
            fill: #D4CBF7;
        }

    #starred-tab {
        position: relative;
        right: 1.7em;
        z-index: 1;
    }
        .starred-active {
            fill: #FBD651;
        }
        .starred-inactive {
            fill: #FBEAAC;
        }

#tab-bar {
    position: relative;
    bottom: 2.82em;
    fill: black;
}

#tab-header {

}

/* ||Home Main (home page only)|| */

/* ||Dropdown (home page only|| */

/* ||Options Main (options page only)||*/

/* ||Nav Bar|| */

img {
    max-width: 75%;
    max-height: 75%;
    object-fit: contain;
    vertical-align: middle;
}

#homeHover, #optionsHover {
   max-width: 40%;
    max-height: 40%;
    position: absolute;
    bottom: -10px;
}

.footerButtonHover {
    cursor: pointer;
}

#plus {
    font-size: 17px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 270px;
    overflow-wrap: break-word;
    overflow-y: auto;
}

.container {
    display: block;
    overflow: hidden;
}

.editButton {
    float: right;
    visibility: hidden;
    font-family: 'Raleway', sans-serif; font-weight: 500;
    font-size: 12px;
}

.entryBox {
    font-size: 17px;
    border-radius: 8px;
    padding: 5px;
    height: 25px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
    background-color: #CDB0EE;
    margin-bottom: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: none;
}

.dropdown .entryBox {
    background-color: initial;
    border: 3px solid #CDB0EE;
    padding-top: 2px;
    padding-bottom: 2px;
}

.entryBox:hover, .adder:hover {
    background-color: #E9CBFF
}

.entryBox:hover > button {
    visibility: visible;
}

.entryBoxEditMode {
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
    background-color: #ff9a8e;
}

.entryBoxEditMode:hover {
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
    background-color: #ffcdc8;
}

.entryBox:hover > button {
    visibility: visible;
}

.dropdown .entryBoxEditMode {
    border: 3px solid #ff9a8e;
    padding-top: 2px;
    padding-bottom: 2px;
}

#wordAdder {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
    position: absolute;
    top: 335px;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    height: 39px;
    position: absolute;
    width: 100%;
    top: 440px;
    overflow: hidden;
}

.navDiv {
    flex: 1;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 500;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#refresh {
    float: right;
}

#optionsContainer {
    height: 199px;
    margin-bottom: 20px;
}

.input {
    display: block;
}

.optionBox {
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    height: 25px;
    font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
    margin-bottom: 5px;
    flex: none;
}

.url-input:invalid {
    border-color: red;
}

#notesBox {
    white-space: pre;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    border: 3px solid #CDB0EE;
    margin-bottom: 3px;
}